# Set to True for development, must be False in production
FK_DEBUG = False
# Number of seconds in a minute
FK_DEBUG_MINUTE = 60
# Min number of minutes that session has to take at minimum
FK_DEBUG_MIN_SESSION_LEN = 5